[Unit]                               
Description=Cerebrod daemon          
After=syslog.target network.target   
                                      
[Service]                            
Type=forking                         
ExecStart=/usr/sbin/cerebrod         
ExecReload=/bin/kill -HUP $MAINPID   
KillMode=process                     
Restart=on-failure                   
RestartSec=5s                        
                                      
[Install]                            
WantedBy=multi-user.target           
